body {
    font-family: Arial, Helvetica, sans-serif;
}

/* create a grid style layout for the todos diaplayed on the screen */
.todo-grid, 
.add-todo-grid {
    display: grid;
    grid-template-columns: 200px 150px 100px;
    gap: 10px;
    align-items: center;
}

/* add margin to the bottom of the input area */
.add-todo-grid {
    margin-bottom: 10px;
    align-items: stretch;
}

/* add styles to the iput fields */
.todo-input, .due-date-input {
    font-size: 15px;
    padding: 6px;
}

/* style the add button */
.add-todo-button {
    background-color: green;
    color: white;
    border: none;
    font-size: 15px;
    cursor: pointer;
}

/* style the delete buttons */
.delete-todo-btn {
    background-color: darkred;
    color: white;
    border: none;
    font-size: 15px;
    padding: 10px 0;
    cursor: pointer;
}